<div *ngIf="quiz && !questions" class="spinner-grow text primary">
</div>
<div *ngIf="questions" class="quiz">
    <div *ngIf="!showResults" class="questions">
        <app-question-form
        [question]="questions[currentQuestionIndex]"
        (onChoiceMade)="updateChoice($event)">
        </app-question-form>
        <button 
        class="btn btn-success"
        (click)="nextOrViewResults()"
        [disabled]="!answers.values[currentQuestionIndex]">
        {{currentQuestionIndex === questions.length -1 ? 'View results' : 'Next'}}
        </button>
    </div>
    <app-results *ngIf="showResults" [answers]="answers"></app-results>
</div>
