<div class="welcome card">
  <h1>Choose your topic</h1>
  <a routerLink="/maths" class="quiz-button">
		<img src="assets/img/maths.png" alt="picture of math elements">
	</a>
	<a routerLink="/egypt" class="quiz-button">
    <img src="assets/img/egyptians.png" alt="picture of egyptians">
  </a>
  <a routerLink="/islands" class="quiz-button">
    <img src="assets/img/island.png" alt="picture of islands">
  </a>
  <a routerLink="/spices" class="quiz-button">
    <img src="assets/img/spices.png" alt="picture of spices">
  </a>

</div>


